body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    background: #fff;
}

.popup-container {
    padding: 1em;
}

h3 {
    margin: 0 0 .5em 0;
    font-size: 18px;
    font-weight: 600;
    color: #222;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.color-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 16px;
    font-weight: 900;
    line-height: 1;
}

/* making them brighter in the pop-up because you can't really differentiate them properly when they're small and on a white backgound (color theory stuff ig) */
.color-button.dark-swatch {
    color: #f5f5f5;
    box-shadow: inset 0 0 0 999px rgba(255, 255, 255, 0.25);
}

.color-button:hover {
    transform: scale(1.1);
    border-color: #222;
}
